$tablet-width: 768px;
$desktop-width: 1024px;

@mixin shadow-float {
  box-shadow: 0 0 $small-margin 0 $medium-gray;
}

@mixin shadow-panel {
  @include shadow-float;
  background-color: $white;
  border-radius: $default-radius;
  padding: $default-padding;
  height: auto;
  width: auto;
}

@mixin icon-size($size: 16) {
  width: #{$size}px;
  height: #{$size}px;
}

@mixin clickable-icon {
  cursor: pointer;
  @include icon-size(16);
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// %social-icons {
//   .social {

//     li {
//       margin-bottom: 0.625rem;
//     }

//     a {
//       background: url("/assets/images/icons-social.svg") no-repeat;
//       padding-left: 1.875rem;

//       &.github {
//         background-position: left top;
//       }

//       &.slack {
//         background-position: left -32px;
//       }

//       &.youtube {
//         background-position: left -64px;
//       }

//       &.rss {
//         background-position: left -94px;
//       }

//       &.twitter {
//         background-position: left bottom;
//       }
//     }
//   }
// }
